*~

# temp files
*.bak
*.bck
*.kicad_pcb-bak
*-cache.lib
# *-rescue.lib
ftp-lib-table

# for external tools
*.dsn

# C objects
*.o
*.hex
*.elf
firmware/goodwatch
firmware/githash.h

# Tracing
energytrace.png
energytrace.txt
